body, html{
    padding:0; 
    margin: 0;
}
.container{
    width: 500px; 
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}
canvas {
    height: 500px;
    width: 500px;
}
.sidebar{
    padding: 20px;
    background: #eee; 
    border: 1px solid #ccc;
}